{% extends "bootstrap/base.html" %}

<html>
	{% block title %}
	{% if title %}{{ title }}
	{% else %}
	Particle visualizations
	{% endif %}
{% endblock %}
	</head>
	{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Particle visualization</a></div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('visualiser', filename='default') }}">Visualiser</a></li>
		    <li><a href="{{ url_for('upload') }}">Upload</a></li>
                </ul>
            </div>
	</div>
	   </nav>
{% endblock %}

{% block content %}{% endblock %}
{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019:
    <a href="https://www.glasgow.ac.uk/"> University of Glasgow PPE</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}
</html>
