{% extends "base.html" %}

{% block content %}
	 
      <form action = "{{ url_for('uploader') }}" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
   
	{% endblock %}
